@charset "UTF-8";
body {
  min-width: 1200px;
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background-color: #849d8f; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0px;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

a {
  text-decoration: none;
  color: #ffffff; }

img {
  max-width: 100%;
  height: auto; }

.container {
  box-sizing: border-box;
  width: 1200px;
  margin: auto; }

@media (min-width: 900px) {
  .container {
    width: 1200px;
    margin: auto; } }

@media (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: auto; } }

.body-catalog {
  background: linear-gradient(to bottom, #9db1a5 0%, #849d8f 40%); }

.btn {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer; }
  .btn:hover, .btn:focus {
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px #ac1000; }
  .btn:active {
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px #ac1000; }

.slider__wrapper {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url("../img/slider-item1.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease; }
  .slider__wrapper::before, .slider__wrapper::after {
    content: "";
    visibility: hidden; }
  .slider__wrapper::before {
    background-image: url("../img/slider-item2.png"); }
  .slider__wrapper::after {
    background-image: url("../img/slider-item3.png"); }

.slider {
  position: relative;
  padding-top: 321px;
  text-align: center;
  color: #ffffff; }
  .slider__list {
    margin: 0;
    padding: 0;
    list-style: none; }
  .slider__list li {
    display: none; }
  .slider__title {
    width: 700px;
    margin: 0 auto;
    margin-top: -46px;
    margin-bottom: 27px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 800; }
  .slider__button {
    display: inline-block;
    padding: 11px 44px;
    margin-top: 5px;
    font-size: 31px;
    line-height: 41px; }
  .slider__controls {
    position: absolute;
    bottom: 20px;
    left: 28px;
    z-index: 20;
    font-size: 0; }
  .slider__controls label {
    display: inline-block;
    width: 16.5px;
    height: 16.5px;
    margin-right: 8px;
    vertical-align: top;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer; }
  .slider__controls label:hover,
  .slider__controls label:focus {
    opacity: 0.5; }

#product-1:checked ~ .slider__wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-item1.png"); }

#product-2:checked ~ .slider__wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-item2.png"); }

#product-3:checked ~ .slider__wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-item3.png"); }

#product-1:checked ~ .slider__wrapper #slide1,
#product-2:checked ~ .slider__wrapper #slide2,
#product-3:checked ~ .slider__wrapper #slide3 {
  display: block; }

#product-1:checked ~ .slider__wrapper label[for="product-1"],
#product-2:checked ~ .slider__wrapper label[for="product-2"],
#product-3:checked ~ .slider__wrapper label[for="product-3"] {
  background-color: #ffffff; }

.nav {
  display: flex;
  z-index: 1; }
  .nav__logo {
    margin-top: 10px; }
  .nav__time {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -15px; }
  .nav__time p {
    margin: 0;
    font-size: 14px; }
  .nav__time a {
    font-size: 22px; }

.nav-site {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 600px;
  list-style: none; }
  .nav-site__btn {
    padding: 7px 13px;
    margin-right: 10px;
    font-weight: 700;
    text-decoration: underline;
    -webkit-text-decoration-color: rgba(255, 255, 255, 0.3);
            text-decoration-color: rgba(255, 255, 255, 0.3); }
  .nav-site__btn:hover, .nav-site__btn:focus {
    color: #323232;
    border-radius: 20px;
    background-color: #f8f7f4;
    text-decoration: none; }
  .nav-site__btn:active {
    box-shadow: inset 0 2px 2px #6a6b6a; }
  .nav-site__active {
    border-radius: 20px;
    background-color: #d07058;
    text-decoration: none; }
  .nav-site__submenu {
    display: none;
    position: absolute;
    width: 144px;
    padding-left: 0;
    border-radius: 5px;
    border-top: 7px solid transparent;
    box-shadow: 0 30px 30px -10px #4f5e56;
    font-size: 14px;
    font-weight: 500;
    z-index: 1;
    list-style: none; }
  .nav-site__catalog:hover .nav-site__submenu,
  .nav-site__catalog:focus .nav-site__submenu {
    display: block; }
  .nav-site__item a {
    display: flex;
    box-sizing: border-box;
    width: 144px;
    padding: 5px 20px;
    background-color: #f8f7f4;
    color: #323232; }
  .nav-site__item a:hover,
  .nav-site__item a:focus {
    background-color: #f0dcd6; }
  .nav-site__item a:active {
    background-color: #f0b7a9; }
  .nav-site__item a:after {
    content: "";
    position: absolute;
    top: 37px;
    left: 7px;
    width: 128px;
    height: 1px;
    background-color: #d1d0ce; }
  .nav-site__submenu li:first-child a {
    font-weight: 700;
    padding: 7px 20px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px; }
  .nav-site__submenu li:last-child a {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px; }

.nav-user {
  display: flex;
  align-items: center;
  margin-left: auto;
  list-style: none;
  font-size: 14px;
  z-index: 1; }
  .nav-user__item {
    position: relative;
    margin-left: 9px;
    border-radius: 20px; }
  .nav-user__item:first-child {
    border-radius: 50%; }
  .nav-user__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 3px 20px;
    border-radius: 20px; }
  .nav-user__item:first-child .nav-user__btn {
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%; }
  .nav-user__item svg {
    margin-right: 5px; }
  .nav-user__item:first-child svg {
    margin: 0; }
  .nav-user__btn:hover, .nav-user__btn:focus {
    color: #000;
    background-color: #fff; }
  .nav-user__btn:hover path,
  .nav-user__btn:focus path {
    fill: #000; }
  .nav-user__btn:hover g,
  .nav-user__btn:focus g {
    fill: #000; }
  .nav-user__btn:hover .red-basket {
    display: block;
    fill: #e84d37; }
  .nav-user__search {
    display: none;
    position: absolute;
    top: 27px;
    right: 0;
    padding: 20px 15px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #f8f7f4;
    box-shadow: 0 30px 30px -10px #4f5e56; }
  .nav-user__search:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 0px;
    width: 344px;
    height: 10px;
    background-color: transparent; }
  .nav-user__item:hover .nav-user__search,
  .nav-user__item:focus .nav-user__search {
    display: block; }
  .nav-user__search input[type="search"] {
    box-sizing: border-box;
    width: 314px;
    padding: 15px;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400; }
  .nav-user__link {
    display: none;
    position: absolute;
    right: 0;
    padding: 10px 20px;
    margin-top: 7px;
    border-radius: 5px;
    background-color: #f8f7f4;
    box-shadow: 0 30px 30px -10px #4f5e56; }
  .nav-user__link:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 0px;
    width: 317px;
    height: 10px;
    background-color: transparent; }
  .nav-user__item:hover .nav-user__link,
  .nav-user__item:focus .nav-user__link {
    display: block; }
  .nav-user__link {
    display: none;
    position: absolute;
    right: 0;
    padding: 10px 20px;
    margin-top: 7px;
    border-radius: 5px;
    background-color: #f8f7f4;
    box-shadow: 0 30px 30px -10px #4f5e56; }
  .nav-user__link input {
    box-sizing: border-box;
    width: 277px;
    padding: 15px;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400; }
  .nav-user__form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 277px; }
  .nav-user__form .link {
    color: #323232;
    text-decoration: underline; }
  .nav-user__form .link:hover,
  .nav-user__form .link:focus {
    color: #e84d37; }
  .nav-user__form .btn {
    padding: 13px 35px;
    border-radius: 30px; }
  .nav-user__form div {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 128px;
    margin-top: -10px; }
  .nav-user__form p:last-child {
    margin-top: -15px; }

.red-basket {
  display: none; }

.nav-user__item:hover .buy-section,
.nav-user__item:focus .buy-section {
  display: flex; }

.buy-section {
  display: none;
  flex-direction: column;
  box-sizing: border-box;
  position: absolute;
  top: 27px;
  right: 0;
  width: 540px;
  min-height: 110px;
  padding: 0 15px 20px 15px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0 30px 30px -10px #4f5e56;
  color: #323232;
  line-height: 20px; }
  .buy-section:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 0px;
    width: 540px;
    height: 10px;
    background-color: transparent; }
  .buy-section h1 {
    text-align: center; }
  .buy-section__list {
    width: 100%;
    border-bottom: 1px solid rgba(50, 50, 50, 0.3); }
  .buy-section__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 50px;
    margin-bottom: 5px; }
  .buy-section__item td {
    display: flex;
    align-items: center; }
  .buy-section__item td button {
    position: relative;
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;
    background-color: transparent; }
  .buy-section__item td button:before,
  .buy-section__item td button:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #323232; }
  .buy-section__item td button:before {
    bottom: 9px;
    left: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .buy-section__item td button:after {
    top: 9px;
    left: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .buy-section__descr {
    width: 230px; }
  .buy-section__price {
    opacity: 0.6; }
  .buy-section b {
    font-size: 18px;
    padding: 15px 0;
    margin-left: auto; }
  .buy-section a {
    padding: 15px 15px;
    margin-left: auto; }

#buy-kg-block {
  position: relative;
  width: 20px; }
  #buy-kg-block div {
    position: absolute;
    left: 0;
    width: 22px;
    height: 5px;
    border-bottom: 1px solid #323232;
    cursor: pointer; }
  #buy-kg-block div:before,
  #buy-kg-block div:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 1px;
    background-color: #323232; }
  #buy-kg-block div:before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    left: -1px; }
  #buy-kg-block div:after {
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
    left: 10px; }

#kg-up {
  top: -10px; }

#kg-down {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  bottom: -10px; }

#icecream-price-kg {
  text-align: right;
  width: 50px; }

.breadcrumbs {
  display: flex;
  padding: 0;
  margin-top: -22px;
  font-size: 14px;
  font-weight: 400;
  list-style: none; }
  .breadcrumbs__item {
    margin-right: 8px;
    word-spacing: 4px; }
  .breadcrumbs__item a {
    text-decoration: underline;
    -webkit-text-decoration-color: rgba(255, 255, 255, 0.3);
            text-decoration-color: rgba(255, 255, 255, 0.3); }
  .breadcrumbs__item a:hover,
  .breadcrumbs__item a:focus {
    text-decoration: none; }
  .breadcrumbs__item--active a {
    opacity: 0.5;
    text-decoration: none; }
  .breadcrumbs__title {
    margin-top: 9px;
    font-size: 35px; }

.stock {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
  font-weight: 700; }
  .stock h3 {
    margin: 0;
    font-size: 35px; }
  .stock p {
    margin-top: 25px;
    font-size: 18px; }
  .stock a {
    align-self: flex-end;
    padding: 12px 23px;
    margin-top: 20px; }
  .stock article {
    display: flex;
    flex-direction: column;
    width: 46%;
    margin-bottom: 15px;
    padding: 25px 20px;
    padding-bottom: 22px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1; }
  .stock__raspberries {
    background-color: #a72a48;
    background-image: url("../img/raspberry-background.jpg"); }
  .stock__chocolate {
    background-color: #3d2317;
    background-image: url("../img/сhocolate background.jpg"); }

.filter input {
  display: none; }

.filter__form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-width: 860px;
  margin-top: 31px;
  font-size: 14px; }

.filter__form fieldset {
  border: none;
  margin: 0;
  padding: 0;
  margin-right: 15px;
  margin-bottom: 13px; }

.filter__form legend {
  margin-left: 17px; }

.filter__form label {
  font-size: 16px;
  cursor: pointer; }

.filter__type {
  position: relative;
  width: 194px;
  padding: 9px 15px;
  color: #ffffff;
  background-color: #a9bbb1;
  border-radius: 25px;
  border: none;
  font-size: 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../img/icon-down-dir1.svg");
  background-repeat: no-repeat;
  background-position: 167px 14px;
  cursor: pointer; }

.filter__type:hover, .filter__type:focus {
  color: #323232;
  background-color: #ffffff;
  background-image: url("../img/icon-down-dir2.svg"); }

.filter__price {
  position: relative;
  width: 170px;
  margin: 0;
  padding: 16px 21px;
  background-color: #a9bbb1;
  border-radius: 25px; }

.filter__price .scale {
  position: relative;
  width: 170px;
  height: 4px;
  background: #fff; }

.filter__price .bar-min {
  position: absolute;
  width: 0px;
  height: 4px;
  background: rgba(128, 128, 128, 0.4); }

.filter__price .bar-max {
  position: absolute;
  left: 100%;
  width: 20px;
  height: 4px;
  background: rgba(128, 128, 128, 0.4);
  -webkit-transform-origin: 0;
          transform-origin: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

.filter__price .range {
  position: absolute;
  top: -8px;
  left: 0;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer; }

.filter__price .range-min {
  left: 0; }

.filter__price .range-max {
  left: 89%; }

.filter__fat {
  display: flex;
  justify-content: center;
  min-width: 390px;
  padding: 7px 15px 5px 5px;
  background-color: #a9bbb1;
  border-radius: 25px; }

.filter__fat label {
  position: relative;
  padding-left: 42px; }

.filter__fat label:last-child {
  padding-right: 0; }

.filter__fat input[type="radio"] + span {
  position: absolute;
  top: 0;
  left: 12px;
  width: 17px;
  height: 17px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  opacity: 0.8; }

.filter__fat input[type="radio"] + span:hover,
.filter__fat input[type="radio"] + span:focus {
  opacity: 1; }

.filter__fat input[type="radio"] + span:active {
  opacity: 0.5; }

.filter__fat input[type="radio"]:checked + span::before {
  content: "";
  position: absolute;
  top: 4.5px;
  left: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffffff; }

.filter__checkbox {
  display: flex;
  justify-content: flex-start;
  min-width: 675px;
  padding: 6px 15px;
  background-color: #a9bbb1;
  border-radius: 25px; }

.filter__checkbox label {
  position: relative;
  padding-left: 40px;
  padding-right: 10px; }

.filter__checkbox label:last-child {
  padding-right: 0; }

.filter__checkbox input[type="checkbox"] + span {
  position: absolute;
  top: 1px;
  left: 10px;
  width: 18px;
  height: 18px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 3px; }

.filter__checkbox input[type="checkbox"] + span:hover,
.filter__checkbox input[type="checkbox"] + span:focus {
  border-color: #fff; }

.filter__checkbox input[type="checkbox"] + span:active {
  border-color: rgba(255, 255, 255, 0.4); }

.filter__checkbox input[type="checkbox"]:checked + span::before,
.filter__checkbox input[type="checkbox"]:checked + span::after {
  content: '';
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7); }

.filter__checkbox input[type="checkbox"]:checked + span::before {
  top: 7px;
  left: 2px;
  width: 10px;
  height: 3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.filter__checkbox input[type="checkbox"]:checked + span::after {
  top: 5px;
  left: 7px;
  width: 20px;
  height: 3px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.filter__checkbox input[type="checkbox"]:checked + span:hover::before,
.filter__checkbox input[type="checkbox"]:checked + span:hover::after,
.filter__checkbox input[type="checkbox"]:checked + span:focus::before,
.filter__checkbox input[type="checkbox"]:checked + span:focus::after {
  background-color: #fff; }

.filter__checkbox input[type="checkbox"]:checked + span:active::before,
.filter__checkbox input[type="checkbox"]:checked + span:active::after {
  background-color: rgba(255, 255, 255, 0.4); }

.filter__btn {
  width: 140px;
  padding: 7px 17px;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  border: 2px solid #f8f7f4;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer; }

.filter__btn:hover, .filter__btn:focus {
  color: #323232;
  background-color: #f8f7f4; }

.catalog {
  margin-top: -14px; }
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    margin-top: 40px;
    padding: 0;
    text-align: center; }
  .catalog__item {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 267px;
    margin-bottom: 8px; }
  .catalog__img::before {
    content: "";
    position: absolute;
    top: 0;
    width: 62px;
    height: 62px;
    background-image: url("../img/hit.svg");
    background-repeat: no-repeat; }
  .catalog__item img {
    order: -1; }
  .catalog__item h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    padding: 0 10px; }
  .catalog__item a:hover,
  .catalog__item a:focus {
    border-bottom: none; }
  .catalog__item p {
    position: absolute;
    top: 165px;
    left: 10px;
    font-size: 45px;
    font-weight: 700;
    word-spacing: -7px;
    text-shadow: 1px 1px 2px #5e615f; }
  .catalog__mask {
    display: none;
    position: absolute;
    top: 0;
    width: 293px;
    height: 56px;
    margin: -13px;
    margin-top: -6px;
    padding-top: 350px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 1; }
  .catalog__item:hover .catalog__mask,
  .catalog__item:focus .catalog__mask {
    display: block; }
  .catalog__item button {
    display: block;
    margin: 0 auto;
    padding: 13px 80px; }
  .catalog__btn--active {
    background: rgba(128, 128, 128, 0.9);
    text-shadow: none;
    box-shadow: none; }
  .catalog__btn--active:hover, .catalog__btn--active:focus {
    background: rgba(128, 128, 128, 0.9);
    box-shadow: none; }
  .catalog__btn--active:active {
    background: rgba(128, 128, 128, 0.9);
    box-shadow: none; }

.info {
  padding: 10px 20px;
  padding-bottom: 20px;
  border-radius: 15px;
  color: #323232;
  background-color: #ece0c6;
  background-image: url("../img/waffle-background.jpg");
  background-position: 0 0; }
  .info h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px; }
  .info__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    list-style: none; }
  .info__item {
    width: 42%;
    padding-top: 21px;
    padding-left: 60px;
    background-repeat: no-repeat;
    background-position: 0 10px; }
  .info__item:first-child {
    background-image: url("../img/ice-cream.svg"); }
  .info__item:nth-child(2) {
    background-image: url("../img/eco.svg"); }
  .info__item:nth-child(3) {
    background-image: url("../img/cow.svg"); }
  .info__item:nth-child(4) {
    background-image: url("../img/thermometer.svg"); }

.news {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  color: #323232; }
  .news__block {
    width: 47%;
    padding-top: 10px;
    padding-left: 20px;
    border-radius: 15px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover; }
  .news article {
    background-image: url("../img/strawberry-background.jpg"); }
  .news__block h2 {
    font-size: 16px;
    font-weight: 500; }
  .news__block a {
    display: block;
    width: 300px;
    color: #323232;
    margin-top: -14px;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-decoration: underline; }
  .news__block a:hover,
  .news__block a:focus {
    color: #e84d37; }
  .news section {
    padding: 5px;
    background-image: repeating-linear-gradient(132deg, white 0px, white 7px, #92cdff 7px, #92cdff 14px, white 14px, white 21px, #fe9e90 21px, #fe9e90 28px); }
  .news__wrapper {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 25px 22px;
    border-radius: 15px;
    background-color: #f8f7f4; }
  .news__block p {
    color: #5a5a5a;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px; }
  .news__form {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .news__form input[type="email"] {
    width: 340px;
    padding: 12px 13px;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400; }
  .news__form button {
    padding: 12px 16px; }

.maps {
  position: relative;
  margin-top: 40px; }
  .maps iframe {
    position: absolute;
    top: 0;
    left: 0; }

.feedback {
  display: flex;
  flex-direction: column;
  width: 251px;
  position: absolute;
  right: 50PX;
  top: 50PX;
  padding: 19px 25px;
  padding-top: 20px;
  border-radius: 15px;
  background: #ffffff;
  color: #323232;
  text-align: left; }
  .feedback span {
    display: block;
    margin-top: 2px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px; }
  .feedback p {
    margin: 9px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; }
  .feedback a {
    display: block;
    margin-top: 5px;
    margin-bottom: 3px;
    line-height: 22px; }
  .feedback .btn {
    padding: 10px 14px; }
  .feedback__phone {
    color: #323232;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px; }

.pagination {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-right: -10px;
  margin-top: 42px;
  margin-bottom: 48px;
  list-style: none;
  font-weight: 700; }
  .pagination a {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    padding-top: 3px;
    margin: 0 4px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer; }
  .pagination a:hover,
  .pagination a:focus {
    color: #323232;
    background-color: #9aada2; }
  .pagination__current {
    color: #323232;
    background-color: #f8f7f4; }
  .pagination span::before,
  .pagination span::after {
    content: '';
    position: absolute;
    width: 14px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5); }
  .pagination .prev::before {
    top: 19px;
    left: 6px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .pagination .prev::after {
    top: 10px;
    left: 6px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .pagination .next::before {
    top: 19px;
    left: 10px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .pagination .next::after {
    top: 10px;
    left: 10px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 25px; }
  .footer__social, .footer__info {
    list-style: none;
    padding: 0; }
  .footer__social {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 180px; }
  .footer__social li {
    width: 32px;
    height: 32px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    opacity: 0.8; }
  .footer__social li:hover,
  .footer__social li:focus {
    opacity: 1; }
  .footer__social li:active {
    opacity: 0.5; }
  .footer__info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 330px;
    height: 50px;
    font-size: 13px;
    line-height: 22px; }
  .footer__info li {
    padding: 0 16px; }
  .footer__info li:first-child {
    position: relative;
    font-weight: 700; }
  .footer__info svg {
    position: absolute;
    top: 5px;
    left: -7px; }
  .footer__info a {
    border-bottom: 0.1px solid #afbfb5; }
  .footer__info a:hover,
  .footer__info a:focus {
    color: #e84d37;
    border-bottom: 0.1px solid #e84d37; }
  .footer__copyright {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    margin: 0;
    padding: 0;
    font-size: 12px; }
  .footer__copyright img {
    width: 108px;
    height: 41px;
    margin-bottom: -13px; }
  .footer__copyright a {
    margin: 0 3px;
    text-decoration: underline;
    -webkit-text-decoration-color: rgba(255, 255, 255, 0.5);
            text-decoration-color: rgba(255, 255, 255, 0.5); }
  .footer__copyright a:hover,
  .footer__copyright a:focus {
    color: #e84d37;
    -webkit-text-decoration-color: #e84d37;
            text-decoration-color: #e84d37; }

.feedback-form {
  display: none;
  position: fixed;
  top: calc(50% - 215px);
  left: calc(50% - 215px);
  width: 430px;
  padding: 25px;
  border-radius: 10px;
  background-color: #f8f7f4;
  color: #323232;
  z-index: 100; }
  .feedback-form-show {
    display: block;
    -webkit-animation: bounce 0.6s;
            animation: bounce 0.6s; }
  .feedback-form p {
    font-size: 24px;
    margin-top: 0; }
  .feedback-form input {
    box-sizing: border-box;
    width: 268px;
    height: 44px;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
    padding: 15px 10px;
    margin-bottom: 20px; }
  .feedback-form input:hover {
    border: 2px solid #d3d3d2; }
  .feedback-form input::-webkit-input-placeholder {
    opacity: 0.7; }
  .feedback-form input:-ms-input-placeholder {
    opacity: 0.7; }
  .feedback-form input::-ms-input-placeholder {
    opacity: 0.7; }
  .feedback-form input::placeholder {
    opacity: 0.7; }
  .feedback-form textarea {
    box-sizing: border-box;
    width: 430px;
    height: 155px;
    border-color: #d3d3d2;
    border-radius: 5px;
    padding: 10px;
    resize: none; }
  .feedback-form textarea:hover {
    border: 2px solid #d3d3d2; }
  .feedback-form textarea::-webkit-input-placeholder {
    opacity: 0.7; }
  .feedback-form textarea:-ms-input-placeholder {
    opacity: 0.7; }
  .feedback-form textarea::-ms-input-placeholder {
    opacity: 0.7; }
  .feedback-form textarea::placeholder {
    opacity: 0.7; }
  .feedback-form .btn {
    padding: 10px 20px;
    margin-top: 15px;
    margin-left: 300px; }

.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 0;
  cursor: pointer; }
  .modal-close::before, .modal-close::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: #231f20; }
  .modal-close::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .modal-close::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s; }

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 50; }
  .overlay-show {
    display: block; }

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px); }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px); }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px); }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px); }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px); }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px); } }

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px); }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px); } }
